.vs/MailPro/v16/Server/sqlite3/db.lock

 .vs/MailPro/v16/.suo
        .vs/MailPro/v16/Server/sqlite3/storage.ide
        .vs/MailPro/v16/Server/sqlite3/storage.ide-shm
        .vs/MailPro/v16/Server/sqlite3/storage.ide-wal
        MailPro/Controllers/HomeController.cs
        MailPro/MailPro.csproj
        MailPro/Models/DataContext.cs
        MailPro/Views/Home/Create.cshtml
        MailPro/bin/MailPro.dll
        MailPro/bin/MailPro.pdb
        MailPro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
        MailPro/obj/Debug/MailPro.csprojAssemblyReference.cache
        MailPro/obj/Debug/MailPro.dll
        MailPro/obj/Debug/MailPro.pdb