<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Email</title>

</head>

<body>

    <div>

        <table style="font-family:Calibri;background:#E6E6E6">

            <tr>

                <td>
                    <p>Dear [MyName]</p>

                    <p>Thanks for your subscription</p>

                </td>

            </tr>

        </table>

    </div>

</body>

</html>

          In above code you’ll be noticed that Yellow color, here I have created placeholder for replace the string.

          Here we have to configure email setting in we.config.

<appSettings>

    <add key="Email" value="example@gmail.com" />

    <add key="Password" valueyour=valueyour password"=password" />

    <add key="MailServer" value="smtp.gmail.com" />

    <add key="MailPort" value="587" />

    <add key="IsSSLEnabled" value="true" />

</appSettings>



Then design your aspx page like this

<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">

    <title>HTML mail</title>

</head>

<body>

    <form id="form1" runat="server">

        <div>

            Name: <asp:TextBox ID="txtName" runat="server"></asp:TextBox><br />

            Email-ID: <asp:TextBox ID="txtEmail" runat="server"></asp:TextBox><br />

            <asp:Button ID="btnSubmit" runat="server" Text="Submit" OnClick="btnSubmit_Click" />

        </div>

    </form>

</body>

</html>