<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Template 2</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style>
	
* { 
	margin:0;
	padding:0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

img { 
	max-width: 100%; 
}
#header,#footer{
	background-color:black;
	color: white;
}

.container {
	display:block!important;
	max-width:600px!important;
	margin:0 auto!important; 

}

.content {
	padding:15px;
	max-width:600px;
	margin:0 auto;
	display:block; 
}



</style>
</head>
<body>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <div class="container" >
		<div class="row py-4" id="header">
			<div class="col-md-3 my-auto bg-none">
				<!--<img src="" alt="" title="Logo" width="60" height="60" data-max-width="100">-->
				
			</div>
			<div class="col-md-8 my-auto">
				 <h5><a target="_blank">Ajay Kumar Garg Engineering college</a></h5>
		
			</div>			
		</div> 
		 
		<div class="row bg-light pt-3 ">
			<div class="col-md-12 my-auto">
				<img src="https://images.pexels.com/photos/462353/pexels-photo-462353.jpeg?cs=srgb&dl=alphabet-cube-mission-462353.jpg&fm=jpg" alt="" title="Logo" width="100%" height="auto">
				
			</div>
			 </div>   
	  <div class="row ">
	  <div class="col-md-12 mt-3">
	  <hr/>
	  	<div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto border-top-1">
				First feature
			</div>
			 </div> 
			 <div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto">
			<small class="text-black-50">
				{Body}

			</small>
			<hr/>	
			</div>
			 </div> 
		  </div>
	  	
	  </div>
		  
	<div class="row ">
	  <div class="col-md-6 mt-3">
	  
	  	<div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto border-top-1">
				<b>Subtitle</b>
			</div>
			
			<div class="col-md-12 my-auto">
			<small class="text-black-50">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Has been the industry's standard dummy text ever since the 1500s.

			</small>
			<hr/>	
			</div>
		  </div>
		</div>
		  
		  <div class="col-md-6 bg-white mt-3 ">
		  
	  	<div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto border-top-1">
				<b>Subtitle</b>
			</div>
			
			<div class="col-md-12 my-auto">
			<small class="text-black-50">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Has been the industry's standard dummy text ever since the 1500s.

			</small>
			<hr/>	
			</div>
		  </div>
			 </div> 
		  </div>
	  	
	 
			  
<div class="row ">
	  <div class="col-md-12 mt-3">
	  <hr/>
	  	<div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto border-top-1">
				Second feature
			</div>
			 </div> 
			 <div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto">
			<small class="text-black-50">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Has been the industry's standard dummy text ever since the 1500s.

			</small>
			<hr/>	
			</div>
			 </div> 
		  </div>
	  	
	  </div>
	  <div class="row ">
	  <div class="col-md-6 mt-3">
	  
	  	<div class="row bg-white pt-1 ">
			<div class="col-md-12 my-auto border-top-1">
				<img src="https://images.pexels.com/photos/316465/pexels-photo-316465.jpeg?cs=srgb&dl=art-artist-artistic-316465.jpg&fm=jpg" alt="img" title="image" width="100%" >
			</div>
		  </div>
		</div>
		  
		  <div class="col-md-6 bg-white mt-3 ">
		  
	  	<div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto border-top-1">
				<b>Subtitle</b>
			</div>
			
			<div class="col-md-12 my-auto">
			<small class="text-black-50">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Has been the industry's standard dummy text ever since the 1500s.

			</small>
				
			</div>
			
		  </div>
		  
			 </div> 
		  </div>
		  <hr/>
		  <div class="row bg-light p-5 text-black-50" id="footer">
	 
			<div class="col-md-4 mx-auto my-auto border-top-1 bg-transparent" >
				<small> Contact Info:<br/>

						Phone: 408.341.0600<br/>
						Email: abc@gmail.com
						<br/></small>
			</div>
	  </div>
<!--container--> </div>
  </body>
  </html>
