<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Template 2</title>
  <link rel="stylesheet" href="../css/template2.css">
  <link rel="stylesheet" href="../files/bootstrap.min.css">
<link rel="stylesheet" href="../files/fontawesome.min.css">


<script src="../files/jquery-3.4.1.min.js"></script>
<script src="../files/bootstrap.min.js"></script>

</head>
<body>
  <div class="container" >
		<div class="row pt-3" id="header">
			<div class="col-md-3 my-auto" >
				<img src="" alt="Logo" title="Logo" width="60" height="60" data-max-width="100">
				
			</div>
			<div class="col-md-8 my-auto">
				 <h5><a target="_blank">Ajay Kumar Garg Engineering college</a></h5>
		
			</div>			
		</div> 
		 
		<div class="row bg-light pt-3 ">
			<div class="col-md-3 my-auto">
				<img src="images/logo.png" alt="" title="Logo" width="100%" height="60">
				
			</div>
			 </div>   
	  <div class="row ">
	  <div class="col-md-12 mt-3">
	  <hr/>
	  	<div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto border-top-1">
				First feature
			</div>
			 </div> 
			 <div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto">
			<small class="text-black-50">
				{Body}
			</small>
			<hr/>	
			</div>
			 </div> 
		  </div>
	  	
	  </div>
		  
	<div class="row ">
	  <div class="col-md-6 mt-3">
	  
	  	<div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto border-top-1">
				<b>Subtitle</b>
			</div>
			
			<div class="col-md-12 my-auto">
			<small class="text-black-50">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Has been the industry's standard dummy text ever since the 1500s.

			</small>
			<hr/>	
			</div>
		  </div>
		</div>
		  
		  <div class="col-md-6 bg-white mt-3 ">
		  
	  	<div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto border-top-1">
				<b>Subtitle</b>
			</div>
			
			<div class="col-md-12 my-auto">
			<small class="text-black-50">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Has been the industry's standard dummy text ever since the 1500s.

			</small>
			<hr/>	
			</div>
		  </div>
			 </div> 
		  </div>
	  	
	 
			  
<div class="row ">
	  <div class="col-md-12 mt-3">
	  <hr/>
	  	<div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto border-top-1">
				Second feature
			</div>
			 </div> 
			 <div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto">
			<small class="text-black-50">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Has been the industry's standard dummy text ever since the 1500s.

			</small>
			<hr/>	
			</div>
			 </div> 
		  </div>
	  	
	  </div>
	  <div class="row ">
	  <div class="col-md-6 mt-3">
	  
	  	<div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto border-top-1">
				<img src="" alt="img" title="image" width="100%" >
			</div>
		  </div>
		</div>
		  
		  <div class="col-md-6 bg-white mt-3 ">
		  
	  	<div class="row bg-white pt-3 ">
			<div class="col-md-12 my-auto border-top-1">
				<b>Subtitle</b>
			</div>
			
			<div class="col-md-12 my-auto">
			<small class="text-black-50">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Has been the industry's standard dummy text ever since the 1500s.

			</small>
			<hr/>	
			</div>
		  </div>
			 </div> 
		  </div>
		  
		  <div class="row bg-light p-5 text-black-50">
	 
			<div class="col-md-4 mx-auto my-auto border-top-1">
				<small> Contact Info:<br/>

						Phone: 408.341.0600<br/>
						Email: abc@gmail.com
						<br/></small>
			</div>
	  </div>
<!--container--> </div>
  </body>
  </html>
